<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/style/style.css">

    <!-- The following 3 scripts are needed for additional bootstrap components -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <!--    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.min.js"></script>-->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <script src="/scripts/fontawesome.js"></script>
    <script src="/scripts/util.js"></script>

    <title>Open Friday - Planung (Admin)</title>
</head>
<body>
<div class="row logo">
    <div class="col">
        <img src="/media/OF_Logo.svg" alt="Logo des OpenFriday">
    </div>
</div>
<div class="container-fluid" id="content">
    <div class="row justify-content-center">
        <div class="col-10 col-md-6">
            <a href="/web/admin.html" class="btn btn-primary btn-lg btn-block">Zur&uuml;ck</a>
            <button v-if="!isSolving" class="btn btn-primary btn-lg btn-block" v-bind:class="{disabledDiv: !plan.rooms.length || !plan.timeslots.length}" v-on:click="optimizePlan()" title="Die Planung wird dadurch NICHT gespeichert!">Planung optimieren</button>
            <button v-else class="btn btn-danger btn-lg btn-block" v-on:click="stopPlanning()">Optimierung stoppen ({{time}})</button>
            <button class="btn btn-primary btn-lg btn-block" v-on:click="savePlan()">Planung speichern und ver&ouml;ffentlichen</button>
        </div>
    </div>
    <div class="row justify-content-center" v-if="!plan.rooms.length || !plan.timeslots.length">
        <div class="col-10 col-md-6 jumbotron horizontal-centered-text">
            <span class="text-danger">Es m&uuml;ssen mindestens ein Zeitslot und ein Raum vorhanden sein!</span>
        </div>
    </div>
    <div class="row justify-content-center" v-else>
        <div class="col-10">
            <div class="table-responsive">
                <table id="table" class="table table-bordered" style="table-layout: fixed;">
                    <caption>
                        <!--Stand: {{timestamp_string}} <br>-->
                        Hinweis: Das manuelle Bearbeiten mittels Drag and Drop funktioniert nicht mit Touch Eingabe.
                    </caption>
                    <thead>
                    <tr>
                        <th style="width: 100px"></th>
                        <th scope="col" style="text-align: center; width: 235px;" v-for="room in plan.rooms">{{room.name}}<br><small>{{room.size}}</small></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="timeslot in plan.timeslots">
                        <th scope="row">{{timeslot.name}}</th>
                            <td v-for="room in plan.rooms" v-bind:id="timeslot.id + ':' + room.id" ondragover="event.preventDefault();" ondrop="dropInTable(event)"
                                v-bind:class="{'blocked-table-data': inArray(timeslot.id, room.timeslots.map(ts => ts.id)) < 0}"
                                v-bind:title="inArray(timeslot.id, room.timeslots.map(ts => ts.id)) < 0 ? 'Raum nicht verf&uuml;gbar' : ''"
                            >
                                <div v-if="inArray(timeslot.id, room.timeslots.map(ts => ts.id)) < 0" class="horizontal-centered-text blocked-table-data-content">
                                    <!--Raum nicht verf&uuml;gbar.-->
                                </div>
                                <div v-else-if="plan.workshops.find(ws => ws.room && ws.timeslot && ws.room.id === room.id && ws.timeslot.id === timeslot.id)" v-bind:id="plan.workshops.find(ws => ws.room && ws.timeslot && ws.room.id === room.id && ws.timeslot.id === timeslot.id).id" draggable="true" ondragstart="dragFromTable(event)" class="draggable">
                                    <div class="jumbotron table-content">
                                        <div class="row">
                                            <div class="col-10">
                                                <span v-bind:class="{'text-danger': inArray(timeslot.id, plan.workshops.find(ws => ws.room && ws.room.id === room.id && ws.timeslot.id === timeslot.id).possibleTimeslots.map(ts => ts.id)) < 0}">
                                                    {{plan.workshops.find(ws => ws.room && ws.room.id === room.id && ws.timeslot.id === timeslot.id).possibleTimeslots.map(s => s.name.split('-')[0].trim()).join(" | ")}}
                                                </span>
                                            </div>
                                            <div class="col-2">
                                                {{plan.workshops.find(ws => ws.room && ws.room.id === room.id && ws.timeslot.id === timeslot.id).totalVotes}}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <b>{{plan.workshops.find(ws => ws.room && ws.room.id === room.id && ws.timeslot.id === timeslot.id).name}}</b>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                {{plan.workshops.find(ws => ws.room && ws.room.id === room.id && ws.timeslot.id === timeslot.id).creator.name}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-10 col-md-6 jumbotron" ondragover="event.preventDefault();" ondrop="dropInList(event)">
            <h5>Aussortierte Workshops</h5>
            <small>Diese Workshops werden bei der Optimierung der Planung nicht ber&uuml;cksichtigt.<br>
            Workshops aus der Tabelle hier hin ziehen, um sie auszusortieren.</small>
        </div>
    </div>
    <div v-for="workshop in unusedWorkshops">
        <div class="row justify-content-center">
            <div class="col-10 col-md-6 jumbotron workshop draggable" v-bind:id="workshop.id" draggable="true" ondragstart="dragFromList(event)">
                <div class="row">
                    <div class="col-10">
                        {{workshop.possibleTimeslots.map(timeslot => timeslot.name.split('-')[0].trim()).join(" | ")}}
                    </div>
                    <div class="col-2">
                        {{workshop.totalVotes}}
                    </div>
                </div>
                <div class="row">
                    <div class="col workshop-header">
                        {{workshop.name}}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        {{workshop.creator.name}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ---------------- Popup Boxes ----------------- -->

<script src="/scripts/adminPlan.js"></script>
</body>
</html>