<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/style/style.css">

    <!-- The following 3 scripts are needed for additional bootstrap components -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.min.js"></script>
<!--    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>-->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <script src="/scripts/fontawesome.js"></script>
    <script src="/scripts/util.js"></script>

    <title>Open Friday - Planung</title>
</head>
<body>
<div class="row logo">
    <div class="col">
        <img src="/media/OF_Logo.svg" alt="Logo des OpenFriday">
    </div>
</div>
<div class="container-fluid" id="content">
    <div class="row justify-content-center">
        <div class="col-10 col-md-6">
            <a href="/web/start.html" class="btn btn-primary btn-lg btn-block">Zur&uuml;ck</a>
        </div>
    </div>
    <div class="row justify-content-center" v-if="!plan.rooms.length || !plan.timeslots.length">
        <div class="col-10 col-md-6 jumbotron horizontal-centered-text">
            <span class="text-danger">Es m&uuml;ssen mindestens ein Zeitslot und ein Raum vorhanden sein!</span>
        </div>
    </div>
    <div class="row justify-content-center" v-else>
        <div class="col-10 col-md-6">

            <div class="horizontal-centered-text header">
                Aktueller Plan
            </div>
            <div v-for="timeslot in plan.timeslots">
                <div class="row">
                    <div class="col header">
                        {{timeslot.name}}
                    </div>
                </div>
                <div class="row justify-content-center" v-for="workshop in plan.workshops.filter(ws => ws.timeslot && ws.timeslot.id === timeslot.id)">
                    <div class="col jumbotron workshop"
                         v-bind:class="{    'workshop-prio-high': votes.filter(v => v.workshop.id === workshop.id && v.priority === 2).length > 0,
                                            'workshop-prio-low': votes.filter(v => v.workshop.id === workshop.id && v.priority === 1).length > 0}">
                        <div class="row">
                            <div class="col-10">
                                <b>{{workshop.name}}</b>
                            </div>
                            <div class="col-2 text-right">
                                <span class="badge badge-primary badge-high">{{workshop.votesHigh}}</span>
                                <span class="badge badge-primary badge-low">{{workshop.votesLow}}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-5">
                                {{workshop.room.name}}
                            </div>
                            <div class="col-7 text-right" v-bind:class="{'text-bold': workshop.creator.name === username}">
                                {{workshop.creator.name}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

<!--            <p style="margin-top: 1rem" class="horizontal-centered-text">-->
<!--                Stand: {{timestamp_string}}-->
<!--            </p>-->
        </div>
    </div>
</div>

<script src="/scripts/plan.js"></script>
</body>
</html>